/* @import "tailwindcss"; */
.mantine-Notifications-root {
    top: 10px !important;
    bottom: unset !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    z-index: 12000 !important;
}